In [2]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

In [3]:
crop_data = pd.read_csv('Crop Production data.csv')
crop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [4]:
#limpiamos nulos para que no haya problemas pasando a SQL
crop_data = crop_data.dropna()
crop_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 242361 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     242361 non-null  object
 1   District_Name  242361 non-null  object
 2   Crop_Year      242361 non-null  int64
 3   Season         242361 non-null  object
 4   Crop           242361 non-null  object
 5   Area           242361 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 14.8+ MB

In [5]:
#guardamos los datos nuevos
crop_data.to_csv('CropData.csv', sep='|', index=False)

In [6]:
connection = psycopg2.connect(host = 'localhost',
                              database = 'crop_db',
                              user='user',
                              password = 'password',
                              port=5433)

cursor = connection.cursor()

In [7]:
cursor.execute("DROP TABLE IF EXISTS CropData")

In [8]:
cursor.execute("""
CREATE TABLE CropData (
    State_Name VARCHAR(255),
    District_Name VARCHAR(255),
    Crop_Year INT,
    Season VARCHAR(255),
    Crop VARCHAR(255),
    Area FLOAT,
    Production FLOAT
)
""")

In [9]:
connection.commit()

In [10]:
with open('CropData.csv', 'r') as f:
    next(f)
    cursor.copy_from(f, 'cropdata', sep='|')

connection.commit()